<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="GeoIPServiceSoap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="GeoIPServiceSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://www.webservicex.net/geoipservice.asmx"
                binding="basicHttpBinding" bindingConfiguration="GeoIPServiceSoap"
                contract="GeoIPService.GeoIPServiceSoap" name="GeoIPServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>